[Unit]
Description=LeetCode Auto Practice Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/Github_Automation
EnvironmentFile=-%h/Github_Automation/.env
ExecStart=%h/Github_Automation/.venv/bin/python -m leetcode_bot.run
User=nayab
Restart=on-failure

[Install]
WantedBy=multi-user.target
