[Unit]
Description=LeetCode Auto Practice Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/nayab/Github_Automation
EnvironmentFile=-/home/nayab/Github_Automation/.env
ExecStart=/home/nayab/Github_Automation/.venv/bin/python -m leetcode_bot.run
Environment=PYTHONUNBUFFERED=1
User=nayab
Nice=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
